.btn-outline-light-brown {
	color: #F7D08A;
	background-color: transparent;
	background-image: none;
	border-color: #F7D08A;
}

.btn-outline-dark-green {
	color: #7C8355;
	background-color: transparent;
	background-image: none;
	border-color: #7C8355;
}

.btn-outline-turqoise {
	color: #87B6A7;
	background-color: transparent;
	background-image: none;
	border-color: #87B6A7;
}

