.btn-outline-light-brown {
	color: #F7D08A;
	background-color: transparent;
	background-image: none;
	border-color: #F7D08A;
}

.btn-outline-lime-green {
	color: #E3F09B;
	background-color: transparent;
	background-image: none;
	border-color: #E3F09B;
}

.btn-outline-turqoise {
	color: #87B6A7;
	background-color: transparent;
	background-image: none;
	border-color: #87B6A7;
}

