.btn{
	cursor:pointer;
}
.btn-outline-light-brown {
	margin-left: 3cm;

	margin-top: .5cm;
	margin-bottom: .5cm;
	color: #0E0C0D;
	background-color: #F7D08A;
	background-image: none;
	border-color: #F7D08A;
	

}

.btn-outline-light-brown: hover{background-color: #bc9f69}

.input-select {
	margin-top: .2cm;
	margin-left: .2cm;
	margin-right:.2cm;
}

.btn-outline-dark-green {
	margin-left: 3cm;
	color: #ffffff;
	background-color: #565b3b;
	background-image: none;
	border-color: #7C8355;
	

}	

.btn-outline-dark-green: {background-color: }

.btn-outline-turqoise {
	margin-left: 3cm;
	color: #87B6A7;
	background-color: transparent;
	background-image: none;
	border-color: #87B6A7;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: ;
}

.input-label {
	width: 30%;
}

.sub-btn {
	margin: auto;
	width: 90%;
	height: 40px;
}

#title {
	margin: auto;
	font-size: 32px;
	color: white;
	font-weight: bold;
}

#main-content {
	display: flex;
	flex-direction: row;
}

.input-select {
	width: 33.33%;
	height: 100%;
}

textarea {
	width: 100%;
	height: 80vh;
}
