body{
    background-color: #BDD7CF;
}
.list-group {
  padding-top: 3cm;
  padding-left: 2cm;
  text-align: center; 
  border-color: #7C8355;
}

.calendar {
  position: relative;
  right: -500px;
  top: -200px;
}