body{

    background-color: #BDD7CF;
}

.list-group {
  padding-top: 3cm;
  padding-left: 3cm;
  font-size: 22pt;
  text-align: center; 
  border-color: #7C8355;
  height: 50px;
}

.calendar {
  position: fixed;
  right: -200px;
  top: 100px;
}

#calendar {
  position: fixed;
  right: -50px;
  top: 100px;
  width:70%;
  height: 50%;
  float: right;
  background-color: white;
}