body{

    background-color: #BDD7CF;
}

.list-group {
  width: 35%;
  height: 30%;
  padding-top: 3cm;
  padding-left: 1.5cm;
  font-size: 30pt;
  font-family: "Lucida Console";
  text-align: center; 
  background-color: transparent;
}

.button-item {
  border-color: #FCEDD4;

}

.button-item2 {
  border-color: #DEEBE7;
}

.button-item3 {
  border-color: #CFD1C1;
}

.calendar {
  position: absolute;
  right: -200px;
  top: 100px;
}

#calendar {
  position: fixed;
  right: -50px;
  top: 100px;
  width:70%;
  height: 50%;
  float: right;
  background-color: white;
}