{% extends "base_generic.html" %}
{% block body %}
<div id="main-content">
  <section class="input-select">
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Task Name</span>
      <input id="taskName" type="text" class="form-control" placeholder="Task Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Time</span>
      <input id="taskStart" type="text" class="form-control" placeholder="Duration" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Due Date</span>
      <input id="taskEnd" type="text" class="form-control" placeholder="Due Date mm/dd/yyyy hh:mm" aria-describedby="basic-addon1">
    </div>
    <button id="taskBtn" type="button" class="btn btn-outline-light-brown">Submit Task</button>
    <textarea id="taskText" readonly></textarea>
  </section>

  <section class="input-select">
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Event Name</span>
      <input id="eventName" type="text" class="form-control" placeholder="Event Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Time</span>
      <input id="eventStart" type="text" class="form-control" placeholder="Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Due Date</span>
      <input id="eventEnd" type="text" class="form-control" placeholder="Due Date (mm/dd/yyyy hh:mm)" aria-describedby="basic-addon1">
    </div>
    <button id="eventBtn" type="button" class="btn btn-outline-light-brown ">Submit Event</button>
    <textarea id="eventText" readonly></textarea>
    <button id="crSchedule" type="button" class="btn btn-outline-dark-green ">Create Schedule</button>
  </section>

  <section class="input-select">
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Exam Name</span>
      <input id="examName" type="text" class="form-control" placeholder="Exam Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Time </span>
      <input id="examStart" type="text" class="form-control" placeholder="Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Due Date</span>
      <input id="examEnd" type="text" class="form-control" placeholder="Due Date (mm/dd/yyyy hh:mm)" aria-describedby="basic-addon1">
    </div>
    <button id="examBtn" type="button" class="btn btn-outline-light-brown ">Submit Exam</button>
    <textarea id="examText" readonly></textarea>
  </section>  
</div>
{% csrf_token %}
{% endblock %}