{% extends "base_generic.html" %}
{% block body %}
<div id="main-content">
  <section class="input-select">
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Task Name</span>
      <input id="eventName" type="text" class="form-control" placeholder="Task Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Start Time </span>
      <input id="eventStart" type="text" class="form-control" placeholder="Start Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">End Time</span>
      <input id="eventEnd" type="text" class="form-control" placeholder="End Time" aria-describedby="basic-addon1">
    </div>
    <button id="taskBtn" type="button" class="btn btn-primary btn-lg btn-block sub-btn">Submit Task</button>
    <textarea id="eventText" readonly></textarea>
  </section>
  <section class="input-select">
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Event Name</span>
      <input id="taskName" type="text" class="form-control" placeholder="End Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Start Time </span>
      <input id="taskStart" type="text" class="form-control" placeholder="Start Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">End Time</span>
      <input id="taskEnd" type="text" class="form-control" placeholder="End Time" aria-describedby="basic-addon1">
    </div>
    <button id="eventBtn" type="button" class="btn btn-primary btn-lg btn-block sub-btn">Submit Event</button>
    <textarea id="taskText" readonly></textarea>
  </section>
  <section class="input-select">
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Exam Name</span>
      <input id="examName" type="text" class="form-control" placeholder="End Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">Start Time </span>
      <input id="examStart" type="text" class="form-control" placeholder="Start Time" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-addon input-label" id="basic-addon1">End Time</span>
      <input id="examEnd" type="text" class="form-control" placeholder="End Time" aria-describedby="basic-addon1">
    </div>
    <button id="examBtn" type="button" class="btn btn-primary btn-lg btn-block sub-btn">Submit Exam</button>
    <textarea id="examText" readonly></textarea>
  </section>
</div>
{% endblock %}

