{% extends "base_generic.html" %}
{% block body %}

<div class="list-group">
  <button class="button-item" type="button" href="#">Add Task</button><br>
  <button class="button-item2" type="button" href="#">Add Event</button><br>
  <button class="button-item3" type="button" href="#">Add Exam</button><br>

</div>

<div class="calendar" style="width:75%; height:50%">
  <iframe src="https://calendar.google.com/calendar/embed?src=opv4gvje7ggu2oojpqlgm83gr4%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

{% endblock %}

