{% extends "base_generic.html" %}
{% block body %}

<div class="list-group" style="width:25%">
  <a class="list-group-item list-group-item-action" href="#">Add Task</a>
  <a class="list-group-item list-group-item-action" href="#">Add Event</a>
  <a class="list-group-item list-group-item-action" href="#">Add Exam</a>
</div>

<div class="calendar" style="width:75%; height:50%">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=allison27.picker%40gmail.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

{% endblock %}

